setuptools
wheel
virtualenv
python-dotenv
Pillow
opencv-python
matplotlib
seaborn
Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-CORS
requests
httpx
beautifulsoup4
selenium
aiohttp
SQLAlchemy
psycopg2
pymysql
redis
pymongo
numpy
pandas
scipy
scikit-learn
python-telegram-bot
pyTelegramBotAPI
aiogram
telethon
pyrogram
PyGithub
gitpython
click
loguru
colorama
tqdm
schedule
celery
pytest
black
flake8
gunicorn
docker